@font-face {
  font-family: 'techtimes';
  src: url('fonts/techtimes/techtimes.eot?65606309');
  src: url('fonts/techtimes/techtimes.eot?65606309#iefix') format('embedded-opentype'),
       url('fonts/techtimes/techtimes.woff2?65606309') format('woff2'),
       url('fonts/techtimes/techtimes.woff?65606309') format('woff'),
       url('fonts/techtimes/techtimes.ttf?65606309') format('truetype'),
       url('fonts/techtimes/techtimes.svg?65606309#techtimes') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'techtimes';
    src: url('../font/techtimes.svg?65606309#techtimes') format('svg');
  }
}
*/
 
 [class^="tticon-"]:before, [class*=" tticon-"]:before {
  font-family: "techtimes";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.tticon-eye:before { content: '\0802'; } /* 'ࠂ' */
.tticon-eye-off:before { content: '\0803'; } /* 'ࠃ' */
.tticon-heart-empty:before { content: '\0804'; } /* 'ࠄ' */
.tticon-heart:before { content: '\0805'; } /* 'ࠅ' */
.tticon-angle-left:before { content: '\0806'; } /* 'ࠆ' */
.tticon-angle-right:before { content: '\0807'; } /* 'ࠇ' */
.tticon-angle-up:before { content: '\0808'; } /* 'ࠈ' */
.tticon-angle-down:before { content: '\0809'; } /* 'ࠉ' */
.tticon-check:before { content: '\0810'; } /* 'ࠐ' */
.tticon-cancel:before { content: '\0811'; } /* 'ࠑ' */
.tticon-plus:before { content: '\0812'; } /* 'ࠒ' */
.tticon-minus:before { content: '\0813'; } /* 'ࠓ' */
.tticon-cog:before { content: '\0814'; } /* 'ࠔ' */
.tticon-attention-alt:before { content: '\0815'; } /* 'ࠕ' */